1. Write a Python Program to accept the details of a student like name, roll number and mark and display it.
   Sample input: Enter the name: Anisha
   Enter the roll number: 21
   Enter the mark: 78
   Sample output:
   Name: Anisha
   Roll No: 21
   Mark: 78

In [4]:
name = input("Enter name:")
rollno = input("Enter roll number:")
mark = input("Enter mark:")
print("Name:" + name)
print("Roll No:" + rollno)
print("Mark:" + mark)

Enter name:Susmin
Enter roll number:26
Enter mark:67
Name:Susmin
Roll No:26
Mark:67

2. Write a Python program to convert temperatures to and from Celsius Fahrenheit. 
   [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.] 
   Sample input: Temperature in Fahrenheit =41
   Sample output: Temperature in Celsius =5

In [2]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9
temperature_fahrenheit = int(input("Enter temperature:"))
temperature_celsius = fahrenheit_to_celsius(temperature_fahrenheit)
print("Temperature in Celsius =", temperature_celsius)
temperature_fahrenheit = celsius_to_fahrenheit(temperature_celsius)
print("Temperature in Fahrenheit =", temperature_fahrenheit)

Enter temperature:41
Temperature in Celsius = 5.0
Temperature in Fahrenheit = 41.0

3. Write a Python program to accept two numbers from the user and display its product.

In [8]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
product = num1 * num2
print("Product of two numbers is:",product)

Enter first number:2
Enter second number:3
Product of two numbers is: 6

4. Write a Python program to accept a string “Learn Python by Developing aWebsite” and display the string like “Learn**Python**    by Developing a **Website**”.

In [11]:
string = "Learn Python from ICT Academy Of Kerala"
split_str = string.split()
split_str[1] = "**" + split_str[1] + "**"
split_str[5] = "**" + split_str[5] + "**"
newstr = " ".join(split_str)
print(newstr)

Learn **Python** from ICT Academy **Of** Kerala

5. Write a Python program to accept the radius of a circle and display its area.

In [17]:
import math
radius = float(input("Enter radius of the circle:"))
area = math.pi * radius**2
print("The area of the circle is:",area)

Enter radius of the circle:2
The area of the circle is: 12.566370614359172

6. Python program to insert a number to any position in a list.Get the number to be inserted and position from the user.

In [20]:
num = int(input("Enter the number to be inserted:"))
pos = int(input("Enter the position in which number to be inserted:"))
list = [1, 2, 3, 4, 5]
list.insert(pos, num)
print("List after insertion:",list)

Enter the number to be inserted:6
Enter the position in which number to be inserted:4
List after insertion: [1, 2, 3, 4, 6, 5]

7. Write a program to rename a key city to a location in the following dictionary.
   sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [24]:
dict = {"name": "Susmin", "age": 23, "salary": 10000, "city": "New York"}
dict["location"] = dict.pop("city")
print("Dictionary after renaming is:",dict)

Dictionary after renaming is: {'name': 'Susmin', 'age': 23, 'salary': 10000, 'location': 'New York'}

8. Write a Python program to change Brad’s salary to 8500 in the following dictionary.
   sample_dict = {
   'emp1': {'name': 'John', 'salary': 7500},
   'emp2': {'name': 'Emma', 'salary': 8000},
   'emp3': {'name': 'Brad', 'salary': 500}
   }

In [25]:
dict = {'emp1': {'name': 'John', 'salary': 7500},'emp2': {'name': 'Emma', 'salary': 8000},
        'emp3': {'name': 'Brad', 'salary': 500}}
dict['emp3']['salary'] = 8500
print("Dictionary after changing Brad's slaray is:",dict)

Dictionary after changing Brad's slaray is: {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

9. Write a program to copy elements 43 and 54 from the following tuple into a new tuple. Given:
   tuple1 = (10, 20, 43, 54, 56, 68)

In [27]:
tuple1 = [10, 20, 43, 54, 56, 68]
newtuple = (tuple1[2], tuple1[3])
print("New tuple after copying is:",newtuple)

New tuple after copying is: (43, 54)

10. Counts the number of occurrences of item 50 from a tuple.
    tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [29]:
tuple1 = [50, 10, 60, 70, 50, 83, 567, 50, 81, 50, 100, 50]
count = tuple1.count(50)
print("The number of occurrences of item 50 in the tuple is:", count)

The number of occurrences of item 50 in the tuple is: 5